@page
@model MoviesWebApp.Pages.Movies.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MoviesModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MoviesModel.MovieId" />
            <div class="form-group">
                <label asp-for="MoviesModel.MovieName" class="control-label"></label>
                <input asp-for="MoviesModel.MovieName" class="form-control" />
                <span asp-validation-for="MoviesModel.MovieName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoviesModel.Released" class="control-label"></label>
                <input asp-for="MoviesModel.Released" class="form-control" />
                <span asp-validation-for="MoviesModel.Released" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoviesModel.Genre" class="control-label"></label>
                <input asp-for="MoviesModel.Genre" class="form-control" />
                <span asp-validation-for="MoviesModel.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoviesModel.Rating" class="control-label"></label>
                <input asp-for="MoviesModel.Rating" class="form-control" />
                <span asp-validation-for="MoviesModel.Rating" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MoviesModel.IsBlockBuster" /> @Html.DisplayNameFor(model => model.MoviesModel.IsBlockBuster)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
