@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3>Movies Rental App in ASP.NET Core, Entity Framework, Razor Pages, Remotely SQL Database</h3>
</div>
